.login-header-btn {
    width: 77px;
    height: 42px;
    background-color: $clr11;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 5px 5px 5px 12px;
    border: 1px solid $clr12;
    position: relative;

    .login-burger {
        width: 20px;
        height: 20px;
        background-image: url("../../img/icons/burger.png");
        background-position: center;
        background-size: cover;
    }

    .login-user-pic-container {
        width: 30px;
        height: 30px;
        background-image: url("../../img/icons/user-default2.svg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        cursor: pointer;
        transition: 0.4s;
    }
}

.Overlay-login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal-container {
    background-color: $clr10;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px 0px;

    .credentials-page {
        padding: 15px;
        position: relative;

        .credentials-header {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            
            h3 {
                font-family: cereal-book;
                font-size: 0.8888em;
                margin: 0 auto;
                position: relative;
                right: 20px;
            }

            .close-login-modal {
                font-size: 1em;
                font-family: cereal-Medium;
                background-color: transparent;
            }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -7px;
                    width: 100%;
                    height: 1px;
                    background-color: $clr12;
                }
            
        }

        .login {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 30px;


            .login-form {
                display: flex;
                align-items: center;
                justify-content: center;

                .user-details {
                    margin: 0;
                    display: flex;

                    input {
                        margin-right: 8px;
                    }
                }
            }

            .login-signup-btn,
            .signup-btn {
                height: fit-content;
                padding: 7px 10px;
                font-size: 0.77778em;
                font-family: cereal-Medium;
                border-radius: 8px;
                background-color: rgb(246, 246, 246);
                transition: 0.2s;
                &:hover{
                    background-color: rgb(245, 241, 241);
                    transition: 0.2s;

                }
            }

            .demo-login-btn {
                width: auto;
            }
        }
    }
}