.user-menu-modal {
    width: fit-content;
    background-color: $clr11;
    color: $clr8;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 2px;
    padding: 9px 0;
    box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.15);
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    width: 200px;

    .menu-links {
        display: flex;
        flex-direction: column;
        font-size: 0.888em;
        width: 100%;

        .login-btn,
        .signup-btn,
        .trips-link,
        .rents-link,
        .logout {
            font-size: 1em;
            font-family: cereal-Book;
            padding: 8px 20px;

            &:hover {
                background-color: $clr20;
            }
        }

        .logout {
            margin: 0;
            margin-top: 8px;
            width: 100%;
            background-color: transparent;
            text-align: start;
            position: relative;
            font-size: 0.9em;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $clr12;
                left: 0;
                top: -4px;
            }
        }
    }
}